.card1{
    border: 1px solid lightgray;
    width: 650px;
    height: 200px;
    margin-left: 15%;
    margin-top: 4%;

}
.title{
    padding: 15px;
    font-weight: 500;
}
.book-image{
    width: 75px;
    height: 95px;
}
.author-name{
    font-size: 10px;
    color: darkgrey;
}
.price{
    font-weight: 500;

}
.book{
    padding: 0 0 0 15px;
}
.book-info{
    margin-left: 20px;
}
.button{
    font-size: 10px;
    background-color: #3371B5;
    color: #ffff;
    width: 160px;
    margin-left: 70%;
}
.customer-card{
    border: 1px solid lightgray;
    width: 650px;
    height: 50px;
    margin-left: 15%;
    margin-top: 2%;
}
.title2{
    padding: 15px;
}
.customer-info{
    border: 1px solid lightgray;
    width: 650px;
    height: 300px;
    margin-left: 15%;
    margin-top: 2%;
}
.title3{
    padding: 15px;
}
.name{
    padding: 6px;
}
.phone{
    padding: 6px;
    margin-left: 20px;
}
.row1{
    margin-left: 15px;
}
.row2{
    margin-left: 15px;
    margin-top: 10px;
}
.pincode{
    padding: 6px;
}
.locality{
    padding: 6px;
    margin-left: 20px;
}

.row3{
    margin-left: 15px;
    margin-top: 10px;
}
.address{
    margin: 0px;
    width: 352px;
    height: 81px;
    padding: 6px;
}
.row4{
    margin-left: 15px;
    margin-top: 10px;
}
.city{
    padding: 6px;
}
.state{
    padding: 6px;
    margin-left: 20px;
}