<app-toolbar></app-toolbar>
<div  fxLayout="row">
<div class="card1" *ngFor="let value of values">
    <div class="title">My Cart</div>
    <div fxLayout="row" class="book">
        <img class="book-image" src= {{value.image}} alt="">
        <div fxLayout="column" class="book-info">
            <div class="book-name">{{value.bookName}}</div>
            <div class="author-name">by {{value.authorName}}</div>
            <div class="price">Rs. {{value.price}}</div>
        </div>
    </div>
    <button mat-stroked-button color="primary" class="button">PLACED ORDER</button>
</div>
</div>
<div class="customer-info">
    <div class="title3">Customer Details</div>
    <div fxLayout="row" class="row1">
        <input type="text" class ="name" placeholder="Name"/>
        <input type="text" class= "phone" placeholder="Phone Number"/>
    </div>
    <div fxLayout="row" class="row2">
        <input type="text" class ="pincode" placeholder="Pincode"/>
        <input type="text" class= "locality" placeholder="Locality"/>
    </div>
    <div fxLayout="row" class="row3">
        <textarea class ="address" placeholder="Address"></textarea>
    </div>
    <div fxLayout="row" class="row4">
        <input type="text" class ="city" placeholder="City"/>
        <input type="text" class= "state" placeholder="State"/>
    </div>
</div>
<!-- <app-footer></app-footer> -->