<div>
    <div>
        <div fxLayout="row" class="second-row">
            <mat-form-field appearance="outline" class="book">
                <mat-label >Book Name</mat-label>
                <input matInput [formControl]="bookName" [(ngModel)]="element.bookName">
                <mat-error *ngIf="bookName.invalid">{{getBookNameErrorMessage()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="author">
                <mat-label>Author Name</mat-label>
                <input matInput [formControl]="authorName" [(ngModel)]="element.authorName">
                <mat-error *ngIf="authorName.invalid">{{getAuthorNameErrorMessage()}}</mat-error>
              </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field appearance="outline" class="description1">
              <mat-label>Description</mat-label>
              <input matInput [formControl]="description" [(ngModel)]="element.description">
              <mat-error *ngIf="description.invalid">{{getDescriptionErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <!-- <div fxLayout="row">
            <mat-form-field appearance="outline" class="description1">
              <mat-label>Image</mat-label>
              <input matInput [formControl]="image" [(ngModel)]="element.image">
              <mat-error *ngIf="description.invalid">{{getImageErrorMessage()}}</mat-error>
            </mat-form-field>
        </div> -->
        <div fxLayout="row">
            <mat-form-field appearance="outline" class="price1">
                <mat-label>Price</mat-label>
                <input matInput [formControl]="price" [(ngModel)]="element.price">
                <mat-error *ngIf="price.invalid">{{getpriceErrorMessage()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="quantity1">
                <mat-label>Quantity</mat-label>
                <input matInput [formControl]="quantity" [(ngModel)]="element.quantity" >
                <mat-error *ngIf="quantity.invalid">{{getQuantityErrorMessage()}}</mat-error>
              </mat-form-field>
        </div>
    </div>
    <div>
    <button mat-raised-button class="button" (click)="clickFunction()">{{childMessage}}</button>
    </div>
    </div>