.title{
  margin-left: 19%;
}
.toolbar{
   background: #ffff;
}
.count{
  font-size: 13px;
  margin-left: 8px;
  margin-top: 3px;
  color: grey;
}

::ng-deep{
  .mat-menu-panel .pannel{
    width: 135px; 
 }
}

