.title{
  margin-left: 19%;
}

.toolbar{
   background: #ffff;
}

.count{
  font-size: 13px;
  margin-left: 8px;
  margin-top: 3px;
  color: grey;
}

::ng-deep{
  .mat-menu-panel .pannel{
    width: 135px; 
 }
 
}
@media only screen and (max-width: 370px) {
  .title{
    margin-left: 50px;
    font-size: 40px;
 }
}
@media only screen and (max-width: 370px) {
  .count{
      font-size: 40px;   
 }
}