<div style="margin-top: 20px;"></div>

<app-displaybooks [bookArray]="bookArray" [displayBook]="displayBook" [reviews]="reviews"></app-displaybooks>
<div class="main-review-container">
    <h1 class="customer-reviews">Top Reviews</h1>

    <div *ngFor="let review of reviewArray">
        <div class="book-review">
            <div style="display: flex; flex-direction: row;">
            <img src="../../../assets/profileicon.jpg" class="prfImage" alt="">
            <h3 class="user-name">{{review.userName}}</h3>
        </div>
            <h3 class="review">{{review.review}}</h3>
        </div>
    </div>
    <div class="comment-button-div">
        <form [formGroup]="form">
    <mat-form-field class="example-full-width comment">
        <mat-label>Add your review here</mat-label>
        <textarea formControlName="review"  matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <button class="post-button" (click)="addBookReview()">Post</button>
</form>
</div>
</div> 