.title{
    margin-left: 19%;
 }
 .toolbar{
     background: #ffff;
 }
 @media only screen and (max-width: 370px) {
     .title{
       margin-left: 50px;
       font-size: 40px;
    }
  }

 .count{
    font-size: 13px;
    margin-left: 8px;
    margin-top: 3px;
    color: grey;
}
@media only screen and (max-width: 370px) {
    .count{
        font-size: 40px;   
   }
 }
.sortByRevelence{  
    margin-left: 675px;
    border: 0.5px solid rgb(214, 214, 214);
height: 32px;
padding-bottom: 15px;
font-size: small;
}
@media only screen and (max-width: 370px) {
    .sortByRevelence{
        margin-left: 326px;
        min-width: 211px;
        min-height:53px ;
        font-size: x-large;
        margin-top: 13px;
   }
 }
::ng-deep{
    .mat-menu-panel .pannel{
      width: 135px;
      
   }
}
.arrowDown{
    margin-bottom: 2px;
    padding-left: 3px;
}