<app-toolbar></app-toolbar>
<mat-toolbar class="toolbar">
    <span class="title">Books</span><span class="count">({{count}} items)</span>
    <button mat-button [matMenuTriggerFor]="menu" class="sortByRevelence">Sort by Price<span class="material-icons arrowDown">
        expand_more
        </span></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="gethightolow()">High To Low</button>
        <button mat-menu-item (click)="getlowtohigh()">Low To High</button>
    </mat-menu>
</mat-toolbar>
<app-displaybooks [values]="values" [count]="count"></app-displaybooks>
<app-footer></app-footer>