<app-toolbar [childMessage]="Admin"></app-toolbar>

<div class="table-structure">
  <table mat-table [dataSource]="dataSource" class="table-card">
     <ng-container matColumnDef="image">
         <th mat-header-cell *matHeaderCellDef class="table-head"> Image </th>
         <td mat-cell *matCellDef="let element" class="column-data"><img class="image" src="{{element.image}}"></td>
       </ng-container>

     <ng-container matColumnDef="bookName">
       <th mat-header-cell *matHeaderCellDef class="table-head"> Book Name </th>
       <td mat-cell *matCellDef="let element" class="column-data"> {{element.bookName}} </td>
     </ng-container>
   
     <ng-container matColumnDef="authorName">
       <th mat-header-cell *matHeaderCellDef class="table-head"> Author Name </th>
       <td mat-cell *matCellDef="let element" class="column-data">{{element.authorName}}</td>
     </ng-container>
   
     <ng-container matColumnDef="description">
       <th mat-header-cell *matHeaderCellDef class="table-head"> Description </th>
       <td mat-cell *matCellDef="let element" class="column-description"> {{element.description}} </td>
     </ng-container>

     <ng-container matColumnDef="price">
         <th mat-header-cell *matHeaderCellDef class="table-head"> Price </th>
         <td mat-cell *matCellDef="let element" class="column-data"> {{element.price}}</td>
       </ng-container>

       <ng-container matColumnDef="quantity">
         <th mat-header-cell *matHeaderCellDef class="table-head"> Quantity </th>
         <td mat-cell *matCellDef="let element" class="column-quantity"> {{element.quantity}} </td>
       </ng-container>

       <ng-container matColumnDef="update">
         <th mat-header-cell *matHeaderCellDef class="table-head"> Update </th>
         <td mat-cell *matCellDef="let element" class="column-data">
           <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" style="
           background-color: #A03037;">
             <mat-icon>edit</mat-icon>
           </button>          
           </td>
       </ng-container>
   
       <ng-container matColumnDef="delete">
         <th mat-header-cell *matHeaderCellDef class="table-head"> Delete </th>
         <td mat-cell *matCellDef="let element" class="column-data">
         <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" style="
         background-color: #A03037;">
           <mat-icon>delete</mat-icon>
         </button>
       </td>
       </ng-container>

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     <tr class="mat-row" *matNoDataRow>
       <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
     </tr>
   </table>
  