<div class="card">
    <mat-card class="example-card">
        <div class="bookStore" >
            <span class="heading">Book Store</span>
          </div>
          <div class="title">
            <p class="p1">Reset Password</p>
          </div>
        <div class="password-row">
            <mat-form-field appearance="outline" class="password">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>            
        </div>
        <div class="button-row" >
            <a class="line4" routerLink="/login">sign up now</a>
            <button  mat-flat-button class="button" (click)="onSubmit()">Submit</button>
        </div>
    </mat-card>
</div>