
    <mat-toolbar class="toolbar">
    <img class="logo" src="../../../assets/education.svg">
    <span class="title">Book Store</span>
    <div Class="searchCard" fxLayout="row">
        <div fxFlex="10">
            <button mat-icon-button class="searchButton">
            <mat-icon class="search" >search</mat-icon>
            </button>
        </div>
        <input Class="searchInput"   type="searchbar" [(ngModel)]="bookName" (input)="bookSearch()" placeholder="Search..">
    </div>
    <div *ngIf="dispalyimg" class="cart-div">
    <div> <mat-icon matBadge="{{length}}" matBadgeColor="warn"><img class="cart-logo" routerLink="/dashboard/cart" src="../../../assets/supermarket.svg"></mat-icon>
    <span class="cart">Cart</span></div>
    </div>
    <span class="settings"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <img class="img" src="../../../assets/mm.jpg" alt="Avatar">
      </button>
    <mat-menu #menu="matMenu" class="menu" >
        <div class="userDetail" style="right: -100%;">
            <div fxLayout="row wrap" fxLayoutAlign="center">
                <img class="img inner" src="../../../assets/DSC_0106.JPG-01.jpeg" alt="Avatar ">
            </div>
            <div fxLayoutAlign="center" class="name">{{name}}</div>
            <div fxLayoutAlign="center" class="email">{{email}}</div>
            <div fxLayout="row wrap" fxLayoutAlign="space-evenly" class="button">
                <button mat-raised-button color="primary" type="submit "style="
                background-color: #A03037;" (click)="logout() ">Logout</button>

                <button mat-raised-button color="primary" type="submit "style="
                background-color: #A03037;" routerLink="/dashboard/wishlist" >WishList</button>
            </div>
        </div>
    </mat-menu>
    </mat-toolbar>
 