<div>
    <mat-toolbar class="toolbar">
    <img class="logo" src="../../../assets/education.svg">
    <span class="title">Book Store</span>
    <mat-card class="input-card">
        <mat-icon>search</mat-icon>
        <div class="input-feild">
            <input type="search" placeholder="search..">
        </div>
    </mat-card>   
    <div *ngIf="dispalyimg" class="cart-div">
    <div> <mat-icon><img class="cart-logo" src="../../../assets/supermarket.svg"></mat-icon>
    <span class="cart">Cart</span></div>
    </div>
    </mat-toolbar>
</div>