<div class="books" fxLayout="row" >
<div class="book-card" *ngFor="let value of values" >
<div class="book-photo">
    <div class="image">
        <img class="book-image" src={{value.image}} alt="">
    </div>
</div>
<div class="book-info">
    <div class="book-name">{{value.bookName}}</div>
    <div class="author-name">by {{value.authorName}}</div>
    <div class="price">Rs. {{value.price}}</div>
    <div
    class="availablity"
    style="color: rgb(163, 43, 6);"
    *ngIf="value.quantity <=0    ; else elsecondition1"
  >
   Out Of Stock
  </div>
    <ng-template #elsecondition1>
    <div
            class="availablity"
            style="color: rgb(163, 43, 6);"
            *ngIf="value.quantity < 5 && value.quantity ; else elsecondition"
          >
            Only {{ value.quantity }} left hurry up
          </div>
        </ng-template>
          <ng-template #elsecondition>
            <div
              class="availablity"
              style="color: rgb(2, 110, 2);"
              *ngIf="value.quantity"
            >
              Available Books: {{ value.quantity }}
            </div>
            <div style="height: 26px;" *ngIf="!value.quantity && isSeller"></div>
          </ng-template>
    <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!show">
    <button mat-stroked-button color="primary" (click)="addToCart(value)" class="button1">ADD TO BAG</button>
    <button mat-stroked-button color="primary" *ngIf="displayBook" (click)="addToWishList(value)" class="button2">WISHLIST</button>
    <button mat-stroked-button color="primary" *ngIf="wishList" (click)="removeWishlist(book.wishListId)" class="button2">REMOVE</button>
</div>
</div>
</div>
</div>





