<div class="books" fxLayout="row" (change)="handlePageSizeChange($event)">
<div class="book-card" fxFlex="column"  *ngFor="let value of values | search: bookSearch | paginate: { 
    itemsPerPage: pageSizes,
    currentPage: page,
    totalItems: count } ;let i = index" (mouseover)="showDiscription[i]=true" (mouseout)="showDiscription[i]=false ">    
<div class="book-photo">
    <div class="image">
        <img class="book-image" src={{value.image}} alt="">
    </div>
</div>
<div class="book-info" >
    <div class="book-name">{{value.bookName}}</div>
    <div class="author-name">by {{value.authorName}}</div>
    <div class="price">Rs. {{value.price}}</div>
    <div
    class="availablity out"
    style="color: rgb(163, 43, 6);"
    *ngIf="value.quantity <=0    ; else elsecondition1"
  >
   Out Of Stock
  </div>
    <ng-template #elsecondition1>
    <div
            class="availablity only"
            style="color: rgb(163, 43, 6);"
            *ngIf="value.quantity < 5 && value.quantity ; else elsecondition"
          >
            Only {{ value.quantity }} left hurry up
          </div>
        </ng-template>
          <ng-template #elsecondition>
            <div
              class="availablity available"
              style="color: rgb(2, 110, 2);"
              *ngIf="value.quantity"
            >
              Available Books: {{ value.quantity }}
            </div>
            <div style="height: 26px;" *ngIf="!value.quantity && isSeller"></div>
          </ng-template>
    <div fxLayout="row" fxLayoutAlign="space-between end" *ngIf="!show" class="butt">
    <button mat-stroked-button color="primary" *ngIf="!value.isAddedToCart && value.quantity" (click)="addToCart(value)" class="button1">ADD TO BAG</button>
    <button mat-stroked-button color="primary" *ngIf="value.isAddedToCart && displayBook" class="added">ADDED TO BAG</button>
    <button mat-stroked-button color="primary" *ngIf="displayBook && !value.isAddedToCart && value.quantity" (click)="addToWishList(value)" class="button2">WISHLIST</button>
    <button mat-stroked-button color="primary" *ngIf="!value.quantity && displayBook && !value.isAddedToCart " (click)="addToWishList(value)" class="wishlist">WISHLIST</button>
    <button mat-stroked-button color="primary" *ngIf="wishList && !value.isAddedToCart && value.quantity" (click)="removeWishlist(value.wishListId)" class="button2">REMOVE</button>
    <button mat-stroked-button color="primary" *ngIf="wishList && !value.isAddedToCart && !value.quantity" (click)="removeWishlist(value.wishListId)" class="wishlist">REMOVE</button>
</div>
    </div>
        <mat-card class="discriptionCart" *ngIf="showDiscription[i] && displayBook">
            <p class="bookDetailHeader">Book Details</p>
           <p class="bookDisp">{{value.description}}</p> 
        </mat-card>
</div>
</div>
<div class="paginaterAllignment">
    <pagination-controls  (pageChange)="handlePageChange($event)" previousLabel="Prev" nextLabel="Next"
        responsive="true"></pagination-controls>
</div>




