.title{
    margin-left: 19%;
 }
 .toolbar{
     background: #ffff;
 }
 .count{
     font-size: 13px;
     margin-left: 8px;
     margin-top: 3px;
     color: grey;
 }
.books{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 15%;
}
.book-card{
    width: 215px;
    height: 300px;
    background: white;
    border: 1px solid lightgrey;
    margin-right: 20px;
    margin-bottom: 20px;
     
}
.sort-choice {
    align-content: flex-end;
    align-items: flex-end;
    z-index: 3001;
  }
  
.book-photo{
    width: 215px;
    height: 140px;
    background: whitesmoke;
}
.book-image{
    height: 70%;
}
.image{
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.book-info{
    padding: 8%;
}
.discriptionCart{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
//  position: absolute;
  //width: 210px;
//  border: 2px solid rgb(238, 237, 237);
 // padding: 5%;

}
.bookDetailHeader{
  font-size: medium;
  font-weight: bold;
  margin-top: 10px;
}
.author-name{
    font-size: 10px;
    color: darkgrey;
}
.price{
    font-weight: 500;
    margin-bottom: 8px;

}
.button1{
    font-size: 10px;
    color: white;
    background: #A03037;
}
.ff{
    font-size: 12px;
    color: white;
    background: #3371B5;
    width: 100px;
}
.button2{
    font-size: 10px;
    color: black;
    background: #ffff;
}
.button3{
    font-size: 10px;
    color: white;
    background: #3371B5;
   
}
.cartBookDiv{

    width: 680px;
    height: 180px auto;
    border: 1px solid rgb(221, 221, 221);
    margin-top: 40px;
    padding-bottom: 16px;
    margin-left: 180px;
    }
    .cartNum{
        display: flex;
        flex-direction: row;
        padding-left: 55px;
       
      }
      .fontSize{
        font-size: large;
        padding-top: 10px;
      }
      .forClass{
        display: flex;
        flex-direction: row;
      }
      .innerImage{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    margin-left: 54px;
    background-color: white;
    height: 80%;
    width: 65px;
    
        
      }
      .bookName1{
        padding-top: 10px;
        padding-left: 26px;
      }
      
      .authorName1{
        font-size: xx-small;
          font: outline;
          color: rgb(197, 197, 197);
      }
      
      .minus{
        border-radius: 50%;
        border: none;
        height: 23px;
        width: 23px;
        margin-right: 4px;
        outline: none;
        border: 1px solid rgb(228, 227, 227);
      }
      
.customerDetails{
  

    width: 570px;
    height: 10px auto;
    border: 1px solid rgb(221, 221, 221);
    margin-top: 10px;
    padding-bottom: 16px;
    margin-left: 180px;
    padding-top: 10px;
    padding-left: 50px;
   // margin-bottom: 70px;
  
  
  }
  .continueButtonDiv{
    // width: 100%;
     display: flex;
     justify-content: flex-end;
     padding-right: 20px;
   }
   .continueButton{
     width: 120px;
     height: 30px;
     border: none;
     outline: none;
     background-color: rgb(0, 0, 189);
     color: white;
   }
  .name{
    width: 48%;
     
    
    }
      .plus{
        border-radius: 50%;
        border: none;
        height: 23px;
        width: 23px;
        margin-left: 4px;
        outline: none;
        border: 1px solid rgb(228, 227, 227);
      }
      
      .numInput{
        width: 20px;
        height: 15px;
        margin-top: 1.5px;
        border: 1px solid rgb(228, 227, 227);
        text-align: center;
      
      }
      .removeButton{
        margin-left: 13px;
        border: none;
        outline: none;
        background-color: white;
        }
        
        .orderButtonDiv{
          display: flex;
          justify-content: flex-end;
          padding-right: 20px;
        
        }
        .orderButton{
            background-color: rgb(0, 0, 189);
            height: 30px;
            width: 120px;
            color: white;
            border: none;
            outline: none;
          }
          .nameContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
           width: 80%;
           //border: 1px solid rebeccapurple;
          }
          .bookName{
            margin-left: 10px;
            margin-top: 8px;
            font-size: large;
         //   font: outline;
          }
        
          .authorName{
            margin-left: 10px;
         //   margin-bottom: 5px;
            font-size: xx-small;
            font: outline;
            color: rgb(197, 197, 197);
          }
        
         .price{
        //  margin-left: 10px;
          margin-top: 1px;
         // font-size: small;
          font: outline;
         // font-style: oblique;
        }
        
        .buttons{
          margin-left: 10px;
          margin-top: 17px;
          width: auto;
          display: flex;
          flex-direction: row;
          
        }
        
        .wishListButton{
         width: 70px;
          font-size: x-small;
          height: 30px;
          margin-left: 10px;
          background-color: white;
          border: 1px solid rgb(232, 232, 232);
          outline: none;
        }
        .cartButton{
          width: 70px;
          font-size: xx-small;
          height: 30px;
          background-color: #A03037 ;
          color: white;
          border: none;
          outline: none;
        }
        
        .cartBookDiv{
        
        width: 620px;
        height: 180px auto;
        border: 1px solid rgb(221, 221, 221);
        margin-top: 40px;
        padding-bottom: 16px;
        margin-left: 280px;
        }
        
        .cartNum{
          display: flex;
          flex-direction: row;
          padding-left: 55px;
         
        }
        
        .fontSize{
          font-size: large;
          padding-top: 10px;
        }
        
        .forClass{
          display: flex;
          flex-direction: row;
        }
        .urClass{
          display: flex;
          flex-direction: row;
          margin-left: -50px;
        }
        .book-photo{
          width: 215px;
          height: 140px;
          background: whitesmoke;
      }
        .bookName1{
          padding-top: 10px;
          padding-left: 26px;
        }
        .availablity {
          margin-bottom: 12px;
          font-size: 13px;
          font-family: Lato;
          color: rgba(87, 25, 25, 0.904);
        }
        .out-of-stock {
          background: #ffffff 0% 0% no-repeat padding-box;
          text-align: center;
          padding: 8px 0px;
          font-size: medium;
          position: absolute;
          font-family: Lato;
          font-weight: bold;
          top: 100px;
          left: 30px;
          right: 30px;
          box-shadow: 0px 3px 8px #00000029;
          border-radius: 2px;
          opacity: 0.9;
          text-transform: uppercase;
        }
        .authorName1{
          font-size: xx-small;
            font: outline;
            color: rgb(197, 197, 197);
        }
        
        .minus{
          border-radius: 50%;
          border: none;
          height: 23px;
          width: 23px;
          margin-right: 4px;
          outline: none;
          background-color: rgb(250, 249, 249);
          border: 1px solid rgb(228, 227, 227);
        }
        
        .plus{
          border-radius: 50%;
          border: none;
          height: 23px;
          width: 23px;
          margin-left: 4px;
          outline: none;
          border: 1px solid rgb(252, 249, 249);
          background-color: rgb(250, 249, 249);
        }
        
        .numInput{
          width: 20px;
          height: 15px;
          margin-top: 1.5px;
          border: 1px solid rgb(228, 227, 227);
          text-align: center;
        
        }
        
        .customerDetails{
          width: 570px;
          height: 10px auto;
          border: 1px solid rgb(221, 221, 221);
          margin-top: 10px;
          padding-bottom: 16px;
          margin-left: 280px;
          padding-top: 10px;
          padding-left: 50px;
        }
        orderDetails{
            width: 570px;
            height: 10px auto;
            border: 1px solid rgb(221, 221, 221);
            margin-top: 10px;
            padding-bottom: 16px;
            margin-left: 100px;
            padding-top: 10px;
            padding-left: 50px;
        }
        .removeButton{
        margin-left: 13px;
        border: none;
        outline: none;
        background-color: white;
        }
        .orderButtonDiv{
          display: flex;
          justify-content: flex-end;
          padding-right: 20px;
        
        }
        .continueButtonDiv{
          display: flex;
          justify-content: flex-end;
          padding-right: 20px;
        }
        .continueButton{
          width: 120px;
          height: 30px;
          border: none;
          outline: none;
          background-color: rgb(0, 0, 189);
          color: white;
        }
        .sortByRevelence{
          margin-left: 575px;
        }
        .orderButton{
          background-color: rgb(0, 0, 189);
          height: 30px;
          width: 120px;
          color: white;
          border: none;
          outline: none;
        }
        .nameContainer{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
         width: 80%;
        }
        .name{
        width: 48%;
        }
            
        .example-full-width {
          width: 80%;
        }
        
        .matCartDiv2{
          width: 208px;
          //width: auto;
          display: flex;
          flex-wrap: wrap;
          height: auto;
          margin-left: 2px;
         }

        .name1{
          width: 32%;
        }

        .bookDisp{
          color: rgb(172, 169, 169);
          font-size: xx-small;
        }

        .paginaterAllignment{
          width: 100%;
          display: flex;
          justify-content: center;
        }

        .discriptionCart{
          display: flex;
          flex-wrap: wrap;
          height: 200px;
        }
      